name: app-workspace

networks:
  app-workspace-net:
    driver: bridge
    name: app-workspace-net-name
    attachable: true
    external: false

services:
  app:
    env_file:
      - path: ~/.devcontainer/.env.devcontainer
        required: false
      - path: .env
        required: false
    image: app-workspace-image
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace:cached
      - home:/home
    command: /bin/sh -c "while sleep 1000; do :; done"
    # ports:
    #   - "3000:3000"
    user: vscode # connected with remoteUser in devcontainer.json
    working_dir: /workspace
    networks:
      - app-workspace-net
    # # Use this block for mitmproxy, #mitmproxy
    # environment:
    #   - REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
    #   - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
    #   - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
    #   - PYTHONUNBUFFERED=1
    #   - http_proxy=http://host.docker.internal:8888
    #   - https_proxy=http://host.docker.internal:8888
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
  opencode:
    image: app-workspace-image
    env_file:
      - path: ~/.devcontainer/.env.devcontainer
        required: false
      - path: .env
        required: false
    command: opencode serve --port 4096 --hostname 0.0.0.0
    ports:
      - "4096:4096"
    volumes:
      - .:/workspace:cached
      - home:/home
    working_dir: /workspace
    user: vscode
    networks:
      - app-workspace-net
    depends_on:
      - app

volumes:
  home:
