services:
  app:
    env_file:
      - path: ~/.devcontainer/.env.devcontainer
        required: false
      - path: .env
        required: false
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace:cached
      - ~/.devcontainer:/home/vscode/.devcontainer:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
    # ports:
    #   - "3000:3000"
    user: vscode # connected with remoteUser in devcontainer.json
    working_dir: /workspace
