name: app-workspace

networks:
  app-workspace-net:
    driver: bridge
    name: app-workspace-net-name
    attachable: true
    external: false

x-common-base: &common-base
  env_file:
    - path: ~/.devcontainer/.env.devcontainer
      required: false
    - path: .env
      required: false
  image: app-workspace-image
  extra_hosts:
    - "host.docker.internal:host-gateway"
  volumes:
    - .:/workspace:cached
    - home:/home
  working_dir: /workspace
  user: vscode # connected with remoteUser in devcontainer.json
  networks:
    - app-workspace-net

services:
  app:
    <<: *common-base
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    command: /bin/sh -c "while sleep 1000; do :; done"
    # ports:
    #   - "3000:3000"
    # # Use this block for mitmproxy, #mitmproxy
    # environment:
    #   - REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
    #   - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
    #   - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
    #   - PYTHONUNBUFFERED=1
    #   - http_proxy=http://host.docker.internal:8888
    #   - https_proxy=http://host.docker.internal:8888
  opencode:
    <<: *common-base
    command: opencode serve --port 4096 --hostname 0.0.0.0
    ports:
      - "4096:4096"
    depends_on:
      - app

volumes:
  home:
